entrypoint = "index.js"
modules = ["nodejs-22", "web"]

hidden = [".config", "package-lock.json"]

[nix]
channel = "stable-24_05"

[deployment]
run = ["node", "index.js"]
deploymentTarget = "cloudrun"

[[ports]]
localPort = 3000
externalPort = 80

[agent]
expertMode = true
